body{
    margin: 0px;
    background-color: rgb(225, 218, 218);
}

@font-face {
    font-family: 'MiFuentePersonalizada';
    src: url('/assets/carbon\ phyber.otf') format('opentype');
    /* Puedes agregar más formatos de fuente según sea necesario (e.g., woff, woff2) */
}

@font-face {
    font-family: 'MiFuentePersonalizada2';
    src: url('/assets/duepuntozero_regular.otf') format('opentype');
    /* Puedes agregar más formatos de fuente según sea necesario (e.g., woff, woff2) */
}

@font-face {
    font-family: 'MiFuentePersonalizada3';
    src: url('/assets/duepuntozero_regular.otf') format('opentype');
    /* Puedes agregar más formatos de fuente según sea necesario (e.g., woff, woff2) */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

.logo {
    display: flex;
    justify-content: flex-start;
    height: 50px;
    width: 50px;

}

.icon-title{display: flex;
flex-direction: row;
justify-content: center;}

.icon-title h3{padding-left: 30px;
    font-family: 'MiFuentePersonalizada', sans-serif;}

.search-bar {
    background-color: solid white;
    width: 400px;
    /* Puedes ajustar este valor según tus necesidades */
    font-size: 16px;
    /* Puedes ajustar el tamaño de la fuente según tus preferencias */
    height: 100%;
    height: 100%;
}

.search-bar input {
    width: 400px;
    height: 40px;
}

.button-nav {
    border: 2px solid #333;
    /* Ajusta el grosor y el color del borde según tus preferencias */
    padding: 10px;
    /* Ajusta el relleno del botón según tus preferencias */
    margin: 5px;
    /* Ajusta el margen del botón según tus preferencias */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
    background-color: #e67f0d   ;
    /* Fondo transparente para que el borde sea visible */
    color: white;
    border: solid black 1px;
    /* Color del texto en el botón */
    font-size: 14px;
    /* Tamaño de la fuente en el botón */
    width: 20%;
    border-radius: 13px;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    font-family: 'MiFuentePersonalizada3', sans-serif;
    font-size: medium;
}

.button-nav:hover {
    transform: scale(1.05);
    /* Ajusta el factor de escala según tus preferencias */
}

.cuenta-carrito {
    display: flex;
    justify-content: flex-end;
}

.cuenta-carrito img {
    height: 50px;
    width: 50px;
    padding: 5px;
}

.nav-1-level {
    background-color: rgb(246, 94, 43);
}

.nav-2-level {
    background-color:  rgb(246, 94, 43);
}




main {
    font-family: 'MiFuentePersonalizada';
    background-color:#fff6ee; 
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

/* LISTA PRODUCTOS */
.contenedorProductos {
    width: 60%;
    border: 2px solid #000000;
    border-radius: 5px; /* vertices en curva */
    padding: 20px;
    box-sizing:content-box;
}

.listaProductos {
    display:list-item;
    list-style-type: none;
    margin: 0px;
    padding: 20px; 
}

.producto {
    max-width: 800px;
    max-height: 150px; 
    margin: 15px;
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px; /* Aplica un radio de borde de 15 píxeles para redondear las esquinas */
    display: flex; /* Establece el elemento como un contenedor flexible para usar propiedades flexbox */
    align-items: center; /* Centra el contenido verticalmente cuando está dentro de un contenedor flex */
}

.producto:hover {
    background-color: #ddd;
    cursor: pointer;
}

.productoImg {
    width: 180px; /* Ancho de la imagen*/
    height: 180px; /* Altura de la imagen*/
    object-fit: cover; /* Escala y recorta la imagen para ajustarse al contenedor manteniendo su proporción */
    border-radius: 5px 5px 5px 5px; /* Aplica un radio de borde de 20 píxeles a todas las esquinas */
    overflow: hidden; /* Oculta cualquier contenido que sobresalga del contenedor */
}

.productoImg img {
    width: 100%; /* La imagen ocupa el 100% del ancho del contenedor */
    height: auto; /* La altura se ajusta automáticamente para mantener la proporción original */
    display: block; /* Establece el elemento como un elemento de bloque, ocupando todo el ancho disponible */
}

.infoProducto {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cantidad {
    display: flex;
}

.cantidad button {
    background-color: #007bff;
    color: #fff;
    padding: 5px;
    width: 20px; /* Ancho de la imagen*/
    height: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px; /* Añade un margen entre los botones */
}

.cantidad p {
    font-size: 18px;
    margin: 0 5px; /* Añade un margen entre la cantidad y los botones */
}

/* RESUMEN DE COMPRA */
.resumenCompra {
    color: #333; /*color del texto*/
    width: 30%; /*Establece el ancho del contenedor*/
    height: fit-content; /* Ajusta la altura del contenedor*/
    border: 2px solid #000000; /* Establece un borde sólido de 2 píxeles en color negro */
    border-radius: 5px; /* Aplica un radio de borde de 5 píxeles para redondear las esquinas */
    padding: 20px; /* Añade un relleno interno de 20 píxeles alrededor del contenido */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total del contenedor */
}

.contenedorResumen{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px; 
}

.infoResumen {
    display: flex;
    justify-content: space-between;
}

.button {    
    font-family: 'MiFuentePersonalizada';
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}