nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.search-bar {
   background-color: solid  white;
   justify-content: center;
   width: 300px; /* Puedes ajustar este valor según tus necesidades */
    padding: 10px; /* Puedes ajustar el relleno según tus preferencias */
    font-size: 16px; /* Puedes ajustar el tamaño de la fuente según tus preferencias */
}


.nav-2-level button {
    border: 2px solid #333; /* Ajusta el grosor y el color del borde según tus preferencias */
    padding: 10px; /* Ajusta el relleno del botón según tus preferencias */
    margin: 5px; /* Ajusta el margen del botón según tus preferencias */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    background-color: transparent; /* Fondo transparente para que el borde sea visible */
    color: #333; /* Color del texto en el botón */
    font-size: 14px; /* Tamaño de la fuente en el botón */
    width: 25%;
}

.cuenta-carrito{display: flex;
justify-content: flex-end;}


.nav-1-level{background-color: #233031 }

.nav-2-level{background-color: #92BFB1;}