body{margin: 0px;}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.search-bar {
   background-color: solid  white;
   justify-content: center;
   width: 300px; /* Puedes ajustar este valor según tus necesidades */
    font-size: 16px; /* Puedes ajustar el tamaño de la fuente según tus preferencias */
    height: 100%;
}


.button-nav {
    border: 2px solid #333; /* Ajusta el grosor y el color del borde según tus preferencias */
    padding: 10px; /* Ajusta el relleno del botón según tus preferencias */
    margin-left: 10px; /* Ajusta el margen del botón según tus preferencias */
    margin-right: 10px; /* Ajusta el margen del botón según tus preferencias */
    margin-top: 7px;
    margin-bottom: 7px;
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    background-color: transparent; /* Fondo transparente para que el borde sea visible */
    color: #333; /* Color del texto en el botón */
    font-size: 14px; /* Tamaño de la fuente en el botón */
    width: 20%;
    border-radius: 13px;
    justify-content: center;
    align-items: center;
}

.cuenta-carrito{display: flex;
justify-content: flex-end;}


.nav-1-level{background-color: #233031 }

.nav-2-level{background-color: #92BFB1;}

    
.contentItemCarrusel {
    height: 200px;
    overflow: hidden;
    

}


.item-carrusel {
    height: 200px;
    background-color: red;
    position: relative;
}

.tarjeta-carrusel {
    height: 100%;
    /* Otros estilos para la tarjeta del carrusel */
}

.flechas-carrusel {
    position: absolute;
    top: 0;
    left: 0;
  
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

a{text-decoration: none;}
a i{opacity: 0.7;}

/* Agregué estilos para las flechas para mayor claridad */
.flechas-carrusel i {
    color: white; /* Color de las flechas */
    font-size: 24px; /* Tamaño de la fuente de las flechas */
    /* Otros estilos para las flechas */
    padding-right: 45px;
}

#tarjetaCarrusel-1{background-color:blue;}
#tarjetaCarrusel-2{background-color: black;}
#tarjetaCarrusel-3{background-color:red;}
#tarjetaCarrusel-4{background-color:green;}

#contePuntos{display: flex;
    justify-content: center;
    }

#contePuntos a {font-size: 1.5em;}

.productosPrincipales{
    border-radius: 13px;
    margin: 15px;
    border-bottom: solid #92BFB1 4px;
    border-top: solid #92BFB1 4px;
    background-color: #DAD6DD;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.TituloSeccion{display: flex;
justify-content: center;
margin: 4px;}

.ProductoSeccion{margin: 10px;
border: solid 1px black;
width: 18%;
height: 350px;
background-color: white;
border-radius: 13px;}

.ProductoSeccion h5{margin: 0%;}

.ProductoSeccion p{margin: 0%;}
 
.textoProducto{height: 40%; display: flex;
flex-direction: column;
}

.imagenProducto{margin: auto;border: solid black 1px;height: 70%;border-top-left-radius:13px ;border-top-right-radius:13px }

.categorias{display: flex;
    border-top: solid #92BFB1 4px;
    border-bottom: solid #92BFB1 4px;
    border-radius: 13px;
    margin: 15px;
    justify-content: center;
    justify-content: space-between;}

.mas-vendidos{display: flex;
justify-content: space-between;}

.content-lista-mas-vendidos{border: solid black 1px;
    width: 65%;
border-radius: 13px;
margin: 15px;
display: flex;
flex-direction: column;

}


.item-lista-mas-vendidos{border: solid blue 1px; 
display: flex;
margin: 10px;
}

.item-lista-mas-vendidos picture{height: 200px; margin: 3px;
width: 200px;
border: solid black 1px;
display: flex;
flex-direction: column;}


/* promocionados */

.content-lista-promocionados{border: solid black 1px;
    width: 30%;
border-radius: 13px;
margin: 15px;
display: flex;
flex-direction: column;

}

.item-lista-promocionados{border: solid red 1px;display: flex;
width: auto;
margin: 10px;   }

.item-lista-promocionados picture{margin: 3px;
    border: solid black 1px;
height: 120px;
width: 120px;}

.promocionados{ border: solid black 1px;
height: 100%;
width: 25%;
margin: 5px;}